* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f1f5fa;
    color: #222;
}

.booklist {
    width: 90vh;
    max-width: 1150px;
    margin: 5rem;
    display: grid;
    gap: 2rem;
}

@media screen and (min-width:768px) {
    .booklist {
        grid-template-columns: repeat(3, 1fr);
    }
}